extend layout
block content
    .columns.is-centered
        .column.is-one-third.box(style="margin-top: 30px")
            h1.title.has-text-centered Nueva Placa
            form(method="POST" action='/create')
                .field
                    label.label Nombre
                    .control
                        input.input(type="text" placeholder="Nombre" requied name="name")
                .field
                    label.label Descripción
                    .control
                        input.input(type="text" placeholder="Descripción" requied name="description")
                .has-text-centered
                    button.button.is-info(type="submit") Añadir